.page-title { 
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}

.content-page {
    min-height: auto!important;
}

.table-unit>:not(caption)>*>* {
	padding: .4em!important;
}